@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;1,800&family=Roboto:ital,wght@1,100;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
header {
  height: 100vh;
  width: 100%;
}
.main-section {
  background-image: url("./resources/Banner\ Image.png");
  width: 1280px;
  height: 600px;
  border-radius: 16px;
  margin-top: 50px;
  margin-left: 140px;
  /* margin-right: 140px; */
  text-align: center;
  color: white;
  font-family: "Merriweather", serif;
}

.main-section h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 200px;
  position: relative;
  z-index: 3;
}
.main-section h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  position: relative;
  z-index: 3;
}
.main-section::after {
  content: "";
  position: absolute;
  width: 1280px;
  height: 600px;
  border-radius: 16px;
  margin-top: 50px;
  margin-left: 140px;
  background-color: rgba(0, 0, 0, 0.27);
  top: 0;
  left: 0;
  z-index: 2;
}

.page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.page1 h1 {
  color: #f00;
  margin-top: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.page1 h5 {
  color: #f00;
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
}
.page1 h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.page1 img {
  width: 802.9px;
  height: 400px;
  margin-top: 20px;
}
.page2 {
  height: 100vh;
  width: 100%;
}

.page2-img {
  background-image: url("./resources/Vectorrr.png");
  width: 1280px;
  height: 600px;
  border-radius: 16px;
  margin-top: 50px;
  margin-left: 140px;
  background-position: 0 10%;
  display: flex;
  position: relative;
}
hr {
  margin-left: 140px;
  width: 1280px;
}
.page2-img::after {
  content: "";
  position: absolute;
  width: 1280px;
  height: 600px;
  background-color: #00000041;
  left: 0;
  top: 0;
  border-radius: 15px;
}
.page2-img h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;

  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  position: relative;
  z-index: 3;
}
.page2-img h6 {
  color: rgba(255, 255, 255, 0.8);

  font-family: "Inter", sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 3;
  font-weight: 400;
  line-height: 30px;
}
.page2-img button {
  color: #fff;
  position: relative;
  z-index: 3;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color: transparent;
  font-weight: 700;
  border: none;
  margin-top: 20px;
}

.page2-one {
  margin-left: 126px;
  width: 650px;
}
.page2-two {
  margin-top: 68px;
  margin-left: 30px;
  position: relative;
  z-index: 3;
}
.page3 {
  height: 100%;
  width: 100%;
}
.page3-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  height: 482px;
  margin-top: 120px;
  border-radius: 10px;
  margin-left: 140px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.1), white);
}
.page3-box h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 56px;
}
.margin-de {
  margin-top: 100px;
}
.page3-box button {
  height: 50px;
  width: 120px;
  background-color: #f00;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 80px;
}
.top {
  margin-top: 40px;
}
.page4 {
  display: flex;
  width: 1280px;
  height: 600px;
  margin-left: 140px;

  align-items: center;
  justify-content: space-between;
}

.circle {
  width: 364.844px;
  height: 364.844px;
  border-radius: 50%;
  border: 15px solid red;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  */
.circle img {
  height: 310px;
  width: 310px;
}
.one h5 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.one {
  width: 393px;
}
.one h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-top: 20px;
}
.one h6 {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}
.three h2 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.three {
  width: 276px;
}
.three h5 {
  color: rgba(0, 0, 0, 0.277);
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.three img {
  margin-top: 20px;
}

.page6-top h6 {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 15px;
}
.page6-top h1 {
  color: #070211;
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
}
.page6-top h4 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 100px;
}
.page6-top {
  width: 896px;
  margin-left: 140px;
}

.img-boxs {
  display: flex;
  margin-left: 140px;
  margin-top: 60px;
  justify-content: space-between;
  margin-right: 140px;
  overflow: hidden;
}
.box1 {
  transition: 0s ease;
  overflow: hidden;
}
.hov {
  transition: all 0.5s ease;
  border-radius: 18px;
}
.box1 .hov:hover {
  transform: scale(1.2);
  border-radius: 18px;
}
.box1:hover {
  border-radius: 18px;
}
.img-boxs img {
  width: 394px;
  height: 400px;
  border-radius: 16px;
}
.img-boxs1 {
  display: flex;
  margin-left: 140px;
  margin-top: 20px;
  justify-content: space-between;
  margin-right: 140px;
  overflow: hidden;
}
.img-boxs1 img {
  width: 394px;
  height: 400px;
  border-radius: 16px;
}

.page7 {
  width: 1240px;
  height: 616px;
  background: rgba(255, 0, 0, 0.05);
  margin-left: 140px;
  border-radius: 16px;
  margin-top: 100px;
  position: relative;
}

.page7-box {
  position: absolute;
  left: 22%;
  top: 16%;
  width: 796px;
  text-align: center;
}
.page7-box h1 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-top: 30px;
}
.page7-box h6 {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}
.page7-box input {
  width: 448px;
  height: 62px;
  border: none;
  padding-left: 20px;
  color: #07021145;
  font-family: "Inter", sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.page7-box button {
  width: 148px;
  height: 62px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  font-size: 22px;
  font-weight: 400;
  background-color: #f00;
  font-family: "Inter", sans-serif;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.footer {
  color: white;
  margin-top: 100px;
  width: 100%;
  height: 609px;
  background-color: #070211;
}
.footer-first {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  justify-content: space-between;
}

.footer-first h5 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.w {
  margin-top: 120px;
}

.pop {
  margin-left: 12px;
}
.social {
  text-align: center;
  margin-top: 100px;
}
.social img {
  padding: 20px;
}

.finish {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  justify-content: space-between;
}
.finish h5 {
  color: #ffffffb1;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 110px;
}
.two a {
  text-decoration: none;
}

.fifty {
  width: 1240px;
margin-top: 50px;
  position: relative;
  text-align: end;
}

.page5 h3 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.page5 h1 {
  color: #f00;
  font-family: "Merriweather", serif;
  text-align: center;
  margin-top: 30px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
.page5 p {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.page5-box {
  height: 100%;
  width: 1268px;
  margin-left: 140px;

}
.fif {
  position: absolute;
  top: 20%;
  right: 22%;
  z-index: 3;
}
.red {
  height: 200px;
  width: 1240px;
  background-color: red;
  border-radius: 16px 0px 16px 16px;
}

.fip {
  position: relative;
  top: -200%;
  left: 3%;
  width: 740px;
  height: 600px;
  
  background-blend-mode: screen;
}

